<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>MINESWEEPER</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/main.css">
        <!-- <script src="js/vendor/modernizr-2.8.3.min.js"></script> -->
    </head>
    <body>

        <div class="header-container">
            <header class="wrapper">
                <ul>
                    <li>연속 <span>0</span>승</li>
                    <li>남은 지뢰 <span>0</span>개</li>
                </ul>
                <ul>
                    <li>새 게임</li>
                    <li>깃발</li>
                    <li>기록</li>
                </ul>
            </header>
        </div>

        <div class="main-container">
            <div class="mine-container main wrapper">
                <button class="mine opened empty">0</button>
                <button class="mine opened">3</button>
                <button class="mine closed"></button>
                <button class="mine closed flagged">X</button>
            </div>
        </div>

        <!-- <script src="js/main.js"></script> -->
    </body>
</html>
